<div class="card">
    <div class="card-header">
      <div class="row">
        <div class="col col-md-6">
          <h5 class="card-title">
            {{ '::Menu:Listas' | abpLocalization }}
          </h5>
        </div>
        <div class="text-end col col-md-6"></div>
            <!-- Add the "new book" button here -->
            <div class="text-lg-end pt-2">
                <button id="create" class="btn btn-primary" type="button" (click)="crearLista()">
                    <i class="fa fa-plus me-1"></i>
                    <span>{{ "::NewLista" | abpLocalization }}</span>
                </button>
            </div>
      </div>
    </div>
    <div class="card-body">
      <ngx-datatable [rows]="lista.items" [count]="lista.totalCount" [list]="list" default>
        <ngx-datatable-column [name]="'::Nombre' | abpLocalization" prop="nombre"></ngx-datatable-column>
        <ngx-datatable-column [name]="'::FechaCreacion' | abpLocalization" prop="fechaCreacion">
          <ng-template let-row="row" ngx-datatable-cell-template>
            {{ row.fechaCreacion | date }}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column [name]="'::Descripcion' | abpLocalization" prop="descripcion"></ngx-datatable-column>
      </ngx-datatable>
    </div>
</div>
  
 <!-- Add the modal here -->
<abp-modal [(visible)]="isModalOpen">
    <ng-template #abpHeader>
      <h3>{{ '::NewLista' | abpLocalization }}</h3>
    </ng-template>
  
    <ng-template #abpBody> 
        <form [formGroup]="form" (ngSubmit)="save()">
            <div class="mt-2">
              <label for="lista-nombre">Nombre</label><span> * </span>
              <input type="text" id="lista-nombre" class="form-control" formControlName="Nombre" autofocus />
            </div>
        
            <div class="mt-2">
              <label for="lista-descripcion">Descripcion</label>
              <input type="text" id="lista-descripcion" class="form-control" formControlName="Descripcion" />
            </div>
          </form>
    </ng-template>
  
    <ng-template #abpFooter>
        <button type="button" class="btn btn-secondary" abpClose>
            {{ '::Close' | abpLocalization }}
        </button>
      
        <!--added save button-->
        <button class="btn btn-primary" (click)="save()" [disabled]="form.invalid">
              <i class="fa fa-check mr-1"></i>
              {{ '::Save' | abpLocalization }}
        </button>
    </ng-template>
</abp-modal> 
