<div class="container">
  <div class="p-5 text-center" style="background-color: #FE8500; color: white;">
    <h1>Bienvenido a MicroNews</h1>
    <p class="lead">Tu fuente confiable de noticias rápidas</p>
    <a *ngIf="!hasLoggedIn" (click)="login()" class="px-4 btn btn-primary ms-1">
      <i class="fa fa-sign-in" aria-hidden="true"></i> Iniciar sesión
    </a>
  </div>

  <!-- Sección adicional -->
  <div class="row mt-4">
    <div class="col-md-12">
      <p class="h3 ml-4">En MicroNews podrás:</p>
    </div>
  </div>

  <div class="row mt-3">
    <div class="col-md-4">
      <div class="card mb-4">
        <div class="card-body" routerLink="/busquedas">
          <img src="https://cdn.icon-icons.com/icons2/1369/PNG/512/-search_90025.png" alt="Descripción de la imagen 1">
          <h5 class="card-title">Buscar Noticias</h5>
          <p class="card-text">Explora un mundo de información al alcance de tus manos. Encuentra noticias relevantes con nuestra potente herramienta de búsqueda. </p>
        </div>
      </div>
    </div>
    
    <!-- Repite este bloque para cada funcionalidad -->
    <div class="col-md-4">
      <div class="card mb-4">
        <div class="card-body" routerLink="/listas">
          <img src="https://cdn3.iconfinder.com/data/icons/google-material-design-icons/48/ic_list_48px-512.png" alt="Descripción de la imagen 1">
          <h5 class="card-title">Crear Listas</h5>
          <p class="card-text">Organiza y personaliza tu experiencia de lectura. Crea listas con tus noticias favoritas para acceder a ellas fácilmente más tarde.</p>
        </div>
      </div>
    </div>
    
    <div class="col-md-4">
      <div class="card mb-4">
        <div class="card-body" routerLink="/notificaciones">
          <img src="https://cdn.icon-icons.com/icons2/2783/PNG/512/notifications_bell_icon_177161.png" alt="Descripción de la imagen 1">
          <h5 class="card-title">Recibir Notificaciones</h5>
          <p class="card-text">Si no hay resultados sobre una determinada búsqueda, te informaremos tan pronto como haya novedades relacionadas con la misma.</p>
        </div>
      </div>
    </div>
    <!-- Repite este bloque para cada funcionalidad -->
  </div>
</div>

<style scoped>
  /* Estilos adicionales */
  a,
  a:hover {
    color: #FE8500;
  }

  .btn-primary,
  .btn-primary:hover {
    background-color: #FE8500;
    border-color: #FE8500;
  }

  .btn-primary:focus {
    box-shadow: 0 0 0 0.25rem rgba(254, 133, 0, 0.5);
  }

  /* Para asegurar que las tarjetas tengan la misma altura */
  .card {
    height: 100%;
  }

  .card:hover {
    transform: scale(1.05); /* Ajusta el valor según tu preferencia */
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  }

  /* Estilos para la sección 'En MicroNews podrás:' */
  .row.text-center>p {
    color: #FE8500;
    font-weight: bold;
  }

  /* Ajustes para el espacio y alineación del texto */
  .mt-4 {
    margin-top: 2rem !important;
  }

  .ml-4 {
    margin-left: 1rem !important;
  }

  .card-title {
    text-align: center;
    font-size: large;
  }

  .card-text {
    text-align: center;
    font-size:medium;
  }

</style>
